<!DOCTYPE html>
<html>
  <head>
    <title>Dilab</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<nav class="navbar navbar-default">
  		
  		<div class="container">
  			
  			<div class="navbar-header">
  				
  				<%= link_to "Visualización", '/home/visualizacion', class: "navbar-brand" %>

  			</div>

  			<ul class="nav navbar-nav">
  					<% if user_signed_in? %>
  					<li> <%= link_to "Sign Out", destroy_user_session_path, method: :delete %> </li>
  					<% else %>
  					<li> <%= link_to "Log In", new_user_session_path %></li>
  					<% end %>
  				

  			</ul>

  		</div>



  	</nav>



    <%= yield %>




  </body>
</html>
